<!DOCTYPE html>

<html>

<head>
        <link rel="icon" href="/img/weather.png">

    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>APIs used for building this- 
            <a href="https://locationiq.com/"> LocationIQ </a> and
            <a href="https://openweathermap.org/api"> OpenWeather</a></p>
    <img class="portrait" src="/img/icon.png"> 
    </div>
    {{>footer}}
</body>

</html>